<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Cadastro Cliente</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-Cliente-tab" data-toggle="tab" href="#nav-Cliente" role="tab"
            aria-controls="nav-Cliente" aria-selected="true">Cliente</a>
          <a class="nav-item nav-link" id="nav-Animal-tab" data-toggle="tab" href="#nav-Animal" role="tab"
            aria-controls="nav-Animal" aria-selected="false">Animal</a>

        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-Cliente" role="tabpanel" aria-labelledby="nav-Cliente-tab">

          <form>
            <div class="form-group">
              <label for="inputNome">Nome</label>
              <input type="text" class="form-control" id="inputNome" placeholder="Nome do cliente">
            </div>

            <div class="form-row">
              <div class="form-group col-md-8">
                <label for="endereco1">Endereço</label>
                <input type="text" class="form-control" id="endereco1" placeholder="Rua: Nome da rua">
              </div>
              <div class="form-group col-md-4">
                <label for="numero">Numero</label>
                <input type="text" class="form-control" id="numero" placeholder="Numero">
              </div>
              <div class="form-group col-md-12">
                <label for="obs">Observações</label>
                <textarea type="text" class="form-control" id="obs"
                  placeholder="Aqui vão as Observações como o numero do apartamento, dentre outras."></textarea>
              </div>
            </div>
          </form>

        </div>
        <div class="tab-pane fade" id="nav-Animal" role="tabpanel" aria-labelledby="nav-Animal-tab">

          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputAnimal">Nome Animal</label>
                <input type="text" class="form-control" id="inputAnimal" placeholder="Informe o nome do animal">
              </div>
              <div class="form-group col-md-6">
                <label for="inputEspecie">Especie</label>
                <select id="inputAnimal" class="form-control">
                  <option selected>Escolha a especie...</option>
                  <option>Gato</option>
                  <option>Cachorro</option>
                  <option>Reptil</option>
                  <option>Aves</option>
                </select>
              </div>
            </div>

            <div class="form-row">

              <div class="form-group col-md-4">
                <input type="number" class="form-control" id="inputAnimaPeso" placeholder="Informe o peso do animal">
              </div>
              <div class="custom-file col-md-8">
                <input type="file" class="custom-file-input form-control" id="inputFoto" aria-describedby="inputFoto"
                  placeholder="Escolha uma Foto">
                <label class="custom-file-label" for="inputFoto">Escolha uma Foto</label>
              </div>

            </div>

            <div class="form-group">
              <label for="listaAnimais">Lista de Animais</label>
              <table class="table table-hover" id="listaAnimais">
                <thead>
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Especie</th>
                    <th scope="col">Peso</th>
                    <th scope="col">Foto</th>
                    <th scope="col"></th>
                    <th scope="col">
                      <i class="fas fa-plus add"></i>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Juju</td>
                    <td>Reptil</td>
                    <td>0.8</td>
                    <td>
                      <img
                        src="https://animais.culturamix.com/blog/wp-content/gallery/caracteristicas-dos-repteis-4/Caracteristicas-Dos-Repteis-11.jpg"
                        alt="" class="fotoAnimal">
                    </td>
                    <td><i class="fas fa-pen edit fa-lg"></i></td>
                    <td><i class="fas fa-minus remove fa-lg"></i></td>
                  </tr>
                </tbody>

              </table>
            </div>
          </form>

        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">
        <i class="fas fa-user-minus"></i>
        Fechar
      </button>
      <button type="button" class="btn btn-primary">
        <i class="fas fa-user-check"></i>
        Salvar
      </button>
    </div>
  </div>
</div>