<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Medico Veterinario</th>
        <th scope="col">Observações</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Data</td>
        <td>Medico Veterinario</td>
        <td>Observações</td>
        <td><i class="fas fa-user-edit edit fa-lg"></i></td>
        <td><i class="fas fa-user-times remove fa-lg"></i></td>
      </tr>
      
      <tr>
        <td>Data</td>
        <td>Medico Veterinario</td>
        <td>Observações</td>
        <td><i class="fas fa-user-edit edit fa-lg"></i></td>
        <td><i class="fas fa-user-times remove fa-lg"></i></td>
      </tr>
      
      <tr>
        <td>Data</td>
        <td>Medico Veterinario</td>
        <td>Observações</td>
        <td><i class="fas fa-user-edit edit fa-lg"></i></td>
        <td><i class="fas fa-user-times remove fa-lg"></i></td>
      </tr>

    </tbody>

  </table>