<div class="row">
  <div class="col-md-3 menu">
    <div class="user">
      <img src="https://gratisography.com/thumbnails/gratisography-138-thumbnail.jpg" alt="">
      <div class="form-row userDados">
        <h6 class="col-md-6">
          <i class="fas fa-user"></i>
          Nome
        </h6>
        <span class="col-md-6">
          <i class="fas fa-sign-out-alt"></i>
          Sair
        </span>
      </div>
    </div>
    <ul>
      <li id="agenda">Agenda</li>
      <li id="consulta">Consulta</li>
      <li id="usuario">Usuarios</li>
    </ul>
  </div>

  <div class="col-md-9">
    <!-- <app-login></app-login> -->
    <app-agenda></app-agenda>
  </div>
</div>

<router-outlet></router-outlet>