body{
    overflow-x: hidden;
    overflow-y: hidden;
}

.menu{
    color: white;
    background-color: #333;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    padding: 0;
}

.menu ul{
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    padding: 0 0 0 20px;
}

.menu ul li{
    margin: 20px;
    border-bottom: white solid 1px;
    text-align: center;
}

.menu ul li:hover{
    border-top: 20px;
    color: cornflowerblue;
    border-bottom: cornflowerblue solid 1px;
}

#agenda:hover{
    border-top: 20px;
    color: steelblue;
    border-bottom: steelblue solid 1px;
}

#consulta:hover{
    border-top: 20px;
    color: orangered;
    border-bottom: orangered solid 1px;
}

#usuario:hover{
    border-top: 20px;
    color: orchid;
    border-bottom: orchid solid 1px;
}

.user{
    color: white;
}

.user img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: static;
    margin-top: 20px;
    left: calc(50% - 50px);
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.userDados{
    padding-top: 20px;
    padding-left: 20px;
}

.user span:hover{
    color: red;
    font-weight: bold;
}