.modal-header{
    color: white;
    background-color: #333;
}

span{
    color: white;
}

.add{
    color: green;
    cursor: pointer;
}

.edit{
    color: blue;
    cursor: pointer;
}

.remove{
    color: red;
    cursor: pointer;
}

img{
    height: auto;
    width: 90px;
}

td{
    vertical-align: middle;
}